@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(../fonts/Roboto-Regular.woff2);
    font-weight: 100;
    font-display: swap;
}
.page {
    font-family: 'Roboto', sans-serif;
}
.stars {
    background: url(../image/NightSky.webp);
    background-size: cover;
}
.btn {
    padding: 20px 35px;
    margin: 30px;
    color: #FFFFFF;
    background-color: rgb(0, 0, 0);
    border: none;
    font-weight: bold;
    font-size: 23px;
    border-radius: 35px;
    cursor: pointer;
    text-align: center;
}
.btn:hover {
    background-color: rgb(59, 59, 59);
    transition: 300ms;
}
.stars > .btn {
    color: #ff0000;
    background-color: rgb(255, 255, 255);
}
.container {
    display: block;
    margin-top: 63px;
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    height: 1282px;
}
.stars > .container {
    border: 2px solid rgb(255, 255, 255);
}
.page-header-logo {
    text-align: start;
    font-style: normal;
    margin-left: 0;
    color:black;
    text-decoration: none;
    font-weight: 400;
    font-size: 80px;
}
.stars .page-header-logo {
    color:rgb(255, 255, 255);
}
.accent-color {
    color: #4bcaff;
}
.page-header-nav {
    margin-top: 38px;
    height: 72px;
}
.page-header-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    background: #35444F;
    list-style-type: none;
    padding: 0;
}
.header-menu-item {
    align-self: center;
    box-sizing: border-box;
    padding: 22px 53px 22px 53px;
    border-left: 1px solid #FFFFFF;
}
.line {
    border-right: 1px solid #FFFFFF;
}

.header-menu-link {
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
.header-menu-item:hover {
    background: #222F3A;
}

.blog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 48px;
}

.blog-sidebar {
    height: 399px;
    width: 344px;
    margin-right: 52px;
    border: 1px solid #000;
}
.stars .blog-sidebar {
    border: 1px solid #FFFFFF;
}
.sidebar-item {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.sidebar-item-list {
    text-decoration: none;
    padding: 24px 0 24px 75px;
    margin: 0;
    width: 344px;
    box-sizing: border-box; 
}

.sidebar-item-list:hover {
    background: #DBDBDB;
    text-shadow: 1px 1px 2px #000000;
}
.sidebar-item-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 27px;
    color: #485863;
}
.stars .sidebar-item-link {
    color: #ffffff;
}
.blog-item {
    height: 829px;
    width: 855px;
}
.image-border {
    position: relative;
    width: 855px;
    height: 529px;
    border: 1px solid black;
}
.stars .image-border {
    border: 1px solid white;
}
.blog-item-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: -50%;
    top: -50%;
    bottom: -50%;
    right: -50%;
    margin: auto;
}
.stars .blog-item-image {
    border: 1px solid white;
}
.blog-item-image:hover {
    transition: 1500ms;
    transform: scale(1.2);
}
.blog-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 37px;
    margin-bottom: 34px;
}
.latin-version {
    margin-bottom: 54px;
}
.stars .blog-text {
    color: white;
}

/* FOOTER */
.page-footer-nav {
    margin-top: 54px;
    height: 69px;
    margin-bottom: 30px;
}
.page-footer-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    box-sizing: border-box;
    background: rgba(99, 105, 110, 0.48);
    height: 69px;
    list-style-type: none;
}
.stars .page-footer-menu {
    border: 1px solid #ffffff;
}
.footer-menu-item {
    align-self: center;
    flex-basis: content;
    width: 100px;
    box-sizing: border-box;
    padding: 0px 8px 0px 18px;
}
.footer-menu-link {
    color: black;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
}
.stars .footer-menu-link {
    color: white;
}
.footer-menu-link:hover {
    color: #4bcaff;
    text-decoration: underline;
}
.copyright {
    box-sizing: content-box;
    padding: 0px 0px 0px 158px;
}
.footer-copyright {
    align-self: center;
    padding-left: 111px;
    color: black;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
}
.stars .footer-copyright {
    color: #ffffff;
}